{% extends 'base.html' %}
{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'signup-fail' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-5 mx-auto">
        <h1>Sign Up</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                    {{ form.name.label }}
                    {{ form.name(class = "form-control", placeholder = "Enter your name") }}
                </fieldset>
                <fieldset>
                    {{ form.email.label }}
                    {{ form.email(class = "form-control", placeholder = "Enter email address") }}
                </fieldset>
                <fieldset class="mb-3">
                    {{ form.password.label }}
                    {{ form.password(class = "form-control", placeholder = "Enter password") }}
                </fieldset>
                {{ form.submit_button(class = "btn btn-light")}}
            </div>
        </form>
    </div>
</div>
{% endblock content %}